/* Estilo geral da página */
body {
    font-family: cursive;
    background-image: url('fundo2.jpeg'); /* nome do arquivo */
    background-size: cover;                  /* cobre toda a tela */
    background-repeat: no-repeat;            /* não repete a imagem */
    background-position: center;  
    margin: 0;                      /* Remove a margem padrão do body */

    /* Centraliza todo o conteúdo no centro da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;              /* Altura mínima da tela inteira */
}

/* Estiliza a div container (que envolve todo o conteúdo) */
.dados {
    color: #a72828;
    max-width: 600px;              /* Largura máxima */
    width: 100%;                   /* Ocupa todo o espaço disponível até o limite */
    padding: 20px;                 /* Espaçamento interno */
    background-color: #fff;        /* Fundo branco */
    border-radius: 8px;            /* Cantos arredondados */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Sombra leve */
}

/* Estiliza títulos */
h2 {
    color: #ff6c6c;
    margin-bottom: 15px;/*margem de baixo*/
}

/* Estiliza o formulário */
form {
    margin-bottom: 30px; 
}

/* Estiliza os campos de texto */
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px; 
    margin-bottom: 15px;
    border: 1px solid #ff9090;
    border-radius: 4px;
}

/* Estiliza o botão de envio */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #a72828;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer; /*cursor muda*/
    font-weight: bold; /*negrito*/
}

/* Efeito ao passar o mouse no botão */
input[type="submit"]:hover {
    background-color: #ff7f7f;
}

/* Estiliza os links (editar/excluir) */
a {
    color: #ff0800;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #ff6c6c;
}

/* Caixa que envolve a lista de contatos */
.lista {
    background-color: #ffcfcf;
    padding: 15px;
    border-radius: 4px;
    color: #a72828;
}
