body {
    background-color: rgb(149, 177, 222);
    color: rgb(28, 28, 123);

}

.erro {
    color: red;
    font-size: 0.9em;
}

input {
    display: block;
    margin-bottom: 5px;
    padding: 5px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* centraliza verticalmente */
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}